<david-sidebar/>
<div class="main">
    <div
        id='carrusel'
        class='dil-carrusel'
    >
        <div
            id='pequeño'
            class='dil-grande'
        >
            <img
                id='img1'
                class='dil-img'
                src='../../../assets/public/imagenes/cielo.jpg'
                alt='nave'
            />
            <img
                id='img1'
                class='dil-img'
                src='/imagenes/cielo.jpg'
                alt='nave'
            />
        </div>
    
        <ul
            id='boxPuntos'
            class='box-puntos'
        >
            <li
                id='puntos'
                class='dil-punto'
            ></li>
            <li
                id='puntos2'
                class='dil-punto'
            ></li>
        </ul>
    </div>
</div>